<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="landing"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="title" content="{{meta_title}}"/>
    <meta name="description" content="{{meta_description}}"/>
    <link rel="youtube" href="{{meta_yt_link}}"/>
    <link rel="image_src" href="{{meta_thumbnail}}"/>
    <link rel="shortcut icon" href="{{favicon}}" type="image/x-icon"/>
    <!--
    <meta property="nn:ch" content="{{meta_nn_ch}}"/>
    <meta property="nn:ep" content="{{meta_nn_ep}}"/>
    -->
    <meta property="og:title" content="{{meta_title}}"/>
    <meta property="og:type" content="{{meta_type}}"/>
    <meta property="og:url" content="{{meta_url}}"/>
    <meta property="og:image" content="{{meta_thumbnail}}"/>
    <meta property="og:site_name" content="{{meta_site_name}}"/>
    <meta property="og:description" content="{{meta_description}}"/>
    <!--
    <meta property="og:video" content="{{meta_video}}">
    <meta property="og:video:type" content="{{meta_video_type}}">
    <meta property="og:video:width" content="{{meta_video_width}}">
    <meta property="og:video:height" content="{{meta_video_height}}">
    <meta property="og:video:url" content="{{meta_url}}">
    -->
    <!-- google+ sharing meta data -->
    <meta itemprop="name" content="{{meta_title}}">
    <meta itemprop="description" content="{{meta_description}}">
    <meta itemprop="image" content="{{meta_thumbnail}}"><!-- google+ requires thumbnail size at least 125px -->
    
    <base id="base" href="">
    <script type="text/javascript">
        var debugging = location.href.indexOf("dev6") !== -1;
        document.getElementById("base").href = debugging ? "/lab/web5.x/" : "/view/";
    </script>
    <!-- <base href="/view/"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ontouchstart="" style="display:none">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="l-main-container">
      <!-- <div ui-view="player"></div> -->
      <div class="player-wrap" ng-controller="PlayerCtrl">
        <div class="player-device">
            <div class="playback-player">
                <div id="ytplayer-1"></div>
            </div>
            <div class="playback-info">
                <p class="episode-name">{{episode.name}}</p>
                <!-- <p class="episode-last-updated">2 hours ago</p> -->
                <!-- <ul class="playback-info-buttons">
                    <li class="playback-info-share"><i class="icon-menu"></i></li>
                    <li class="playback-info-favorite"><i class="icon-search"></i></li>
                </ul> -->
            </div>

            <div class="episode-info-wrap">
                <div class="playback-episode-src">
                    <span class="program-from">from</span>
                    <figure class="program-logo-small">
                        <img ng-src="{{channel.images[0]}}" >
                    </figure>
                    <span class="program-name">{{channel.name}}</span>
                </div>
                <div class="playback-episode-count">
                        <span class="episode-number">{{episodes.array.length}}</span>
                        <span class="episode-text">episodes</span>
                </div>

                <div class="episode-list-wrap" style="position:relative">
                    <ul class="episode-list" episode-list  style="{{getListStyle()}}">
                        <li ng-repeat="ep in episodes.array" ng-click="onEpisodeClick(ep.id)" class="episode-list-item {{$index === episodeIndex ? 'is-playing' : ''}}" ng-class="" >
                            <!-- ng-click="onEpisodeClick(episode.id)" -->
                            <div class="episode-detail">
                                <img class="episode-preview" ng-src="{{ep.thumb}}" alt="{{ep.name}}">
                                
                                <!-- <div class=""> -->
                                <p class="episode-name">{{ep.name}}</p>
                                <!-- </div> -->
                            </div>
                        </li>
                    </ul>
                </div>

                <a href="" class="epsode-prev-button" ng-click="slidePrev()"></a>
                <a href="" class="epsode-next-button" ng-click="slideNext()"></a>
            </div>

        </div>
        <div class="app-download-wrap">
            <div class="app-download-info">
                <figure class="app-download-icon">
                    <img src="{{app.icon}}">
                </figure>
                <h1 class="app-name">{{app.name}}</h1>
                <p class="app-item-descript">{{app.description}}</div>
                <p class="app-download-text">{{app.calltoaction}}</p>
                
                <div class="app-download-appstore">

                    <a href="{{app.ios}}" target="_blank" class="app-button">
                       <img src="images/btn_app_store@x2.png">  
                   </a>
                </div>
            <div class="app-download-googleplay">
                <a href="{{app.android}}" target="_blank" class="app-button">
                   <img src="images/btn_google_play@x2.png">    
                </a>
            </div>
        </div>

        <div ng-show="social.length > 0" class="social-media-wrap">
            <h1 class="social-media-text">或造訪社群</h1>
                <ul class="social-media-list">
                    <li ng-repeat="item in social" class="social-media-item">
                        <a ng-href="{{item.url}}" target="_blank"><img ng-src="{{item.icon}}" alt=""></a></li>
                    <!-- <li class="social-media-item"><a href="#"><img src="images/social-media-fb.png" alt=""></a></li>
                    <li class="social-media-item"><a href="#"><img src="images/social-media-twitter.png" alt=""></a></li>
                    <li class="social-media-item"><a href="#"><img src="images/social-media-google.png" alt=""></a></li> -->
                </ul>
            
        </div>

      </div>
      <div ui-view="promote"></div>
      <div ui-view="appGroup"></div>
    </div>
    <div ui-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/nn.js"></script>
    <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/nn.player.js"></script>
    <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/nn.parser.js"></script>
    <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/nn.model.js"></script>
    <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/nn.utils.js"></script>

    <script src="bower_components/angular/angular.js"></script>

        <!-- build:js scripts/modules.js -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/controllers/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/controllers/player.js"></script>
        <script src="scripts/controllers/promote.js"></script>
        <script src="https://9x9ui.s3.amazonaws.com/playerlib/nn.landing/controllers/app-group.js"></script>
        <script src="scripts/services/shared-objects.js"></script>
        <script src="scripts/services/msoService.js"></script>
        <!-- <script src="scripts/services/youtube-player.js"></script>-->
        <!-- endbuild -->
</body>
</html>
