<div class="app-group-wrap">
	<h1 class="app-group-text">更多推薦的影音App</h1>
	<ul class="app-group-list">
		<li class="app-group-item">
			<figure class="app-item-icon">
				<img src="images/app-group-icon-1.png">
			</figure>
			<div class="app-name">網路大明星</div>
			<a href="" class="app-item-link">GET IT</a>
			<p class="app-item-descript">App description...App description...App description...App description...App description...</p>
		</li>
		<li class="app-group-item">
			<figure class="app-item-icon">
				<img src="images/app-group-icon-2.png">
			</figure>
			<div class="app-name">MV點播機</div>
			<a href="" class="app-item-link">GET IT</a>
			<p class="app-item-descript">App description...App description...App description...App description...App description...</p>
		</li>
		<li class="app-group-item">
			<figure class="app-item-icon">
				<img src="images/app-group-icon-3.png">
			</figure>
			<div class="app-name">影音雜誌</div>
			<a href="" class="app-item-link">GET IT</a>
			<p class="app-item-descript">App description...App description...App description...App description...App description...</p>
		</li>
		<li class="app-group-item">
			<figure class="app-item-icon">
				<img src="images/app-group-icon-4.png">
			</figure>
			<div class="app-name">遊戲轉播站</div>
			<a href="" class="app-item-link">GET IT</a>
			<p class="app-item-descript">App description...App description...App description...App description...App description...</p>
		</li>
		<li class="app-group-item">
			<figure class="app-item-icon">			
				<img src="images/app-group-icon-5.png">
			</figure>
			<div class="app-name">關鍵評論網</div>		
			<a href="" class="app-item-link">GET IT</a>
			<p class="app-item-descript">App description...App description...App description...App description...App description...</p>
		</li>
	</ul>
</div>
