<div class="app-group-wrap">
    <h1 class="app-group-text">更多推薦的影音App</h1>
    <ul class="app-group-list">
        <li ng-repeat="item in items" class="app-group-item" data-name="{{item.name}}">
            <figure class="app-item-icon">
                <img ng-src="{{item.icon}}">
            </figure>
            <div class="app-name">{{item.name}}</div>
            <div class="app-item-link-group {{item.ios == '' ? 'lack-ios' : ''}} {{item.android == '' ? 'lack-android' : ''}}">

                <a href="{{os === 'ios' ? item.ios.landing[1] : item.android.market[1]}}" target="_blank" class="app-item-mobile">
                    <span class="getit-text">GET IT</span>
                    <span class="comingsoon-text">COMING SOON</span>
                </a>

                <a href="{{item.ios.landing[1]}}" class="app-item-ios"  target="_blank"></a>
                <a href="{{os === 'web' ? item.android.landing[1] : item.android.market[1]}}" class="app-item-android"  target="_blank"></a>

            </div>

            <p class="app-item-descript">{{item.description}}</p>
        </li>
        <!-- <li class="app-group-item">
            <figure class="app-item-icon">
                <img src="images/app-group-icon-2.png">
            </figure>
            <div class="app-name">MV點播機</div>
            <div class="app-item-link-group">

                <a href="" class="app-item-mobile">
                    <span class="getit-text">GET IT</span>
                    <span class="comingsoon-text">COMING SOON</span>
                </a>
                <a href="" class="app-item-ios"></a>
                <a href="" class="app-item-android"></a>

            </div>
            <p class="app-item-descript">App description...App description...App description...App description...App description...</p>
        </li>
        <li class="app-group-item">
            <figure class="app-item-icon">
                <img src="images/app-group-icon-3.png">
            </figure>
            <div class="app-name">影音雜誌</div>
            <div class="app-item-link-group">

                <a href="" class="app-item-mobile">
                    <span class="getit-text">GET IT</span>
                    <span class="comingsoon-text">COMING SOON</span>
                </a>
                <a href="" class="app-item-ios"></a>
                <a href="" class="app-item-android"></a>

            </div>
            <p class="app-item-descript">App description...App description...App description...App description...App description...</p>
        </li>
        <li class="app-group-item">
            <figure class="app-item-icon">
                <img src="images/app-group-icon-4.png">
            </figure>
            <div class="app-name">遊戲轉播站</div>
            <div class="app-item-link-group">

                <a href="" class="app-item-mobile">
                    <span class="getit-text">GET IT</span>
                    <span class="comingsoon-text">COMING SOON</span>
                </a>
                <a href="" class="app-item-ios"></a>
                <a href="" class="app-item-android"></a>

            </div>
            <p class="app-item-descript">App description...App description...App description...App description...App description...</p>
        </li>
        <li class="app-group-item">
            <figure class="app-item-icon">
                <img src="images/app-group-icon-5.png">
            </figure>
            <div class="app-name">關鍵評論網</div>
            <div class="app-item-link-group">

                <a href="" class="app-item-mobile">
                    <span class="getit-text">GET IT</span>
                    <span class="comingsoon-text">COMING SOON</span>
                </a>
                <a href="" class="app-item-ios"></a>
                <a href="" class="app-item-android"></a>

            </div>
            <p class="app-item-descript">App description...App description...App description...App description...App description...</p>
        </li> -->
    </ul>
</div>
