<div class="player-wrap">
	<div class="playback-player">
	    <div id="ytplayer"></div>
	</div>
	<div class="playback-info">
	    <p class="episode-name">Vice The Japanese Love Industry (Teaser) It show time!!!</p>
	    <!-- <p class="episode-last-updated">2 hours ago</p> -->
	    <!-- <ul class="playback-info-buttons">
	        <li class="playback-info-share"><i class="icon-menu"></i></li>
	        <li class="playback-info-favorite"><i class="icon-search"></i></li>
	    </ul> -->
	</div>

	<div class="episode-info-wrap">
		<div class="playback-episode-src">
	        <span class="program-from">from</span>
	        <figure class="program-logo-small">
	        	<img src="http://9x9tmp.s3.amazonaws.com/cms-thumbnail-1377158420560-33298.jpg" >
	        </figure>
	        <span class="program-name">Latest and Greatest</span>
	    </div>
	    <div class="playback-episode-count">
	            <span class="episode-number">58</span>
	            <span class="episode-text">episodes</span>
	    </div>
	    <div class="episode-list-wrap">
		    <ul class="episode-list">
		        <li ng-repeat="episode in episodes" class="episode-list-item" ng-click="videoPlay(episode.videoId)">
		            <div class="episode-detail">
		            	<img class="episode-preview" src="http://i1.ytimg.com/vi/{{episode.videoId}}/mqdefault.jpg" alt="{{episode.title}}">
		            	
		                <!-- <div class=""> -->
		                <p class="episode-name">Vice The Japanese Love Industry</p>
		                <!-- </div> -->
		            </div>
		        </li>
		    </ul>
	    </div>


	</div>
	<div class="app-download-wrap">
		<div class="app-download-info">
		<figure class="app-download-icon">
			<img src="images/app_icon_high_res_iphone.png">
			
		</figure>
		<h1 class="app-name">華視雲端網</h1>
		<p class="app-download-text">立刻免費下載app看更多節目！</p>

		</div>

		

		<div class="app-download-appstore">

			<a href="" class="app-button">
			   <img src="images/btn_app_store@x2.png">	
		   </a>
		</div>
		<div class="app-download-googleplay">

			<a href="" class="app-button">
			   <img src="images/btn_google_play@x2.png">	
		   </a>
		</div>

	</div>
	<div class="social-media-wrap">
	<h1 class="social-media-text">或造訪社群</h1>
		<ul class="social-media-list">
			<li class="social-media-item"><a href="#"><img src="images/social-media-fb.png" alt=""></a></li>
			<li class="social-media-item"><a href="#"><img src="images/social-media-twitter.png" alt=""></a></li>
			<li class="social-media-item"><a href="#"><img src="images/social-media-google.png" alt=""></a></li>
			<li class="social-media-item"><a href="#"><img src="images/social-media-fb.png" alt=""></a></li>
		</ul>
		
	</div>

</div>