<div class="promote-wrap">

	<div class="promote-programe-wrap">
		<h1 class="promote-programe-text">超多精選節目新鮮放送， 歡迎沒事翻翻逛逛！</h1>

		<ul class="promote-programe-list">
			<li class="promote-programe-item" ng-repeat="item in promotionItems track by $index">
				<figure class="promote-programe-img">
					<div class="thumb-inner-center">
						<img src="{{item.thumb}}">
					</div>
				</figure>
				<span class="promote-programe-name">{{item.name}}</span>
			</li>
		</ul>
		<h1 class="promote-programe-text-sub">還有更多精彩節目等你來挖掘！</h1>		
		
	</div>

	<div class="promote-app-wrap">
		<h1 class="promote-app-text">左右換集數，上下換節目，不用找來找去超輕鬆！</h1>
		<div class="promote-content-wrap">
			<div class="promote-back-img">
				<span class="program-gesture">其他節目</span>
				<span class="episode-gesture">集數</span>
			 </div>
		</div>
		<h2 class="promote-app-link-wrap">
			<span class="promote-app-link-text">想知道更多方便功能，請前往：</span>
			<!-- <a href="#" class="promote-app-link">了解更多App資訊</a> -->
			<div class="app-download-appstore">

				<a href="" class="app-button">
				   <img src="images/btn_app_store@x2.png">	
			   </a>
			</div>
			<div class="app-download-googleplay">

				<a href="" class="app-button">
				   <img src="images/btn_google_play@x2.png">	
			   </a>
			</div>

		</h2>
		
	</div>


</div>